html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------------------------*/

body {
  display: grid;
  grid-template: 1fr 5fr / 1fr 4fr;
  /* overflow: hidden; */
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

nav {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: rgb(0, 155, 216);
  color: white;
  padding: 1rem 0 0 2rem;
}

nav li {
  font-size: 1.25rem;
}

.dashboard {
  font-size: 2rem;
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.fa-ul {
  --fa-li-width: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 60px 20px 40px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  gap: 1rem;
}

#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
}

input {
  margin-left: 10px;
  border-radius: 10px;
  width: 40rem;
  height: 1.25rem;
  border: none;
  background-color: rgba(184, 205, 223, 0.363);
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: none;
}

img {
  border-radius: 50%;
}

#search > div:first-child {
  display: flex;
  align-items: center;
}

#search > div:last-child {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#search img {
  width: 2.5rem;
}

#search h2 {
  font-weight: bolder;
}

#hero {
  display: flex;
  justify-content: space-between;
}

#hero img {
  height: 4rem;
}

#hero > div:first-child {
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 1.25rem;
}

#hero p {
  font-size: x-small;
  font-weight: bold;
}

#hero h1 {
  font-size: larger;
  font-weight: bolder;
}

#hero > div:last-child {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
}

#hero > div:last-child div {
  background-color: rgb(0, 155, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 6rem;
  border-radius: 2rem;
}

main {
  background-color: rgba(184, 205, 223, 0.363);
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  padding: 40px 30px 80px 20px;
  gap: 20px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section h2 {
  font-weight: bolder;
  font-size: 1.25rem;
}

#project {
  grid-area: 1 / 1 / 3 / 2;
}

.container {
  display: grid;
  gap: 40px;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

#project article {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 5px;
  border-left: 7px solid orange;
  padding: 30px 20px 10px 20px;
  height: 11rem;
  justify-content: space-between;
  box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.1);
}

article > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
}

article p {
  color: rgba(0, 0, 0, 0.6);
}

article > div:last-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: auto;
  padding-bottom: 2rem;
}

#announcement > article,
#trending > article {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px 20px 10px 30px;
  box-shadow: 5px 5px 2px -2px rgba(0, 0, 0, 0.1);
}

h4 {
  font-weight: bolder;
}

aside {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

aside p {
  color: rgba(0, 0, 0, 0.6);
}

.middle {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#trending {
  max-height: 304px;
}

#trending img {
  width: 2.5rem;
}

#trending li {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 5px 0;
}

#trending div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h5 {
  font-weight: bold;
}

.last {
  margin-bottom: 0.75rem;
}
